  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        หน้าจอหลัก
      </h1>
      <ol class="breadcrumb">
        <li  class="active"><a href="#"><i class="fa fa-home"></i> หน้าจอหลัก</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        
        <!-- // -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->